<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container">
        <span class="navbar-brand" href="/" id="logo"><span>OOO</span>Rider</span>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-success" href="/ngocrong"><i class="fa-brands fa-github"></i>
                        DRAGONBALL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" href="/lbx"><i class="fa-brands fa-github"></i> LBX</a>
                </li>

            </ul>
            <form class="d-flex" action="/search" method="post">
                <input class="form-control me-2" type="search" name="name" placeholder="Search">
            </form>
            {{#if (ifnoteq data.username req.body.username) }}
            <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i> LOGIN</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link bg-dark text-info rounded" href="/users/show/{{data._id}}"><i
                        class="fa-solid fa-user"></i> {{
                    data.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login"><i class="fa-solid fa-right-to-bracket"></i> LOGOUT</a>
            </li>
            {{/if}}

        </div>
    </div>
</nav>
<!-- Navbar End -->


<!-- Home Section Start -->
<div class="home">
    <div class="content">
        <span class="changecontent"></span>
    </div>
</div>
<!-- Home Section End -->
<!-- Section Packages Start -->
<section class="packages p-4" id="packages">
    <div class="container">
        <h1 class="heading text-center fw-bolder text-success">DRAGONBALL</h1>
        <div class="row">
            {{#each ngocrong }}
            <div class="col-md-2">
                <div class="card">
                    <a href="ngocrong/show/{{_id}}">
                        <img width="100%" height="200vh" src="../images/{{image}}" alt="{{_id}}">
                    </a>
                    <div class="card-body">
                        <h3 class="fw-bolder">{{ name }}</h3>
                        <h5> $<strong>{{price}}</strong></h5>
                    </div>
                    {{#if (ex data) }}
                    <a class="btn btn-warning col-md-7 m-3" href="/cart">Add to cart</a>
                    {{else}}
                    <a class="btn btn-warning col-md-7 m-3" href="/login">Add to cart</a>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<section class="packages p-4" id="packages">
    <div class="container">
        <h1 class="heading text-center fw-bolder text-primary">LBX</h1>
        <div class="row">
            {{#each lbx }}
            <div class="col-md-2">
                <div class="card">
                    <a href="lbx/show/{{_id}}">
                        <img width="100%" height="200vh" src="../images/{{image}}" alt="{{_id}}">
                    </a>
                    <div class="card-body">
                        <h3 class="fw-bolder">{{ name }}</h3>
                        <h5> $<strong>{{price}}</strong></h5>
                    </div>
                    <a class="btn btn-warning col-md-7 m-3" href="/cart">Add to cart</a>

                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- Section Packages End -->