<!-- Section Book Start -->
<section class="book" id="book">
    <div class="container ">

        <div class="main-text">
            <h1><span>LIST</span> Users</h1>
        </div>
        <nav class="navbar navbar-expand-lg " id="navbar">
            <div class="container">
                <div class="collapse navbar-collapse justify-content-center">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/lbx/list"><i class="fa-solid fa-virus">LBX</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" href="/ngocrong/list"><i
                                    class="fa-solid fa-plus">Dragonball</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="add"><i class="fa-solid fa-plus">Add New User</i></a>
                        </li>
                    </ul>
                </div>
                    <form class="d-flex" action="/users/search" method="post">
                        <input class="form-control me-2" type="search" name="username" placeholder="Search">
                    </form>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-1 py-3 py-md-0">
            </div>
            <div class="col-md-10 py-3 py-md-0">
                <table class="table align-middle">

                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">NAME</th>
                            <th scope="col">PASSWORD</th>
                            <th scope="col">ISADMIN</th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each data }}

                        <tr>
                            <th scope="row"></th>
                            <td>
                                <a class="text-dark text-decoration-none" href="show/{{_id}}">
                                    {{ username}}
                                </a>
                            </td>
                            <td>{{ password}}</td>
                            <td>{{ isuser }}</td>
                            <td>
                                <a style="text-decoration: none;" href="edit/{{_id}}">
                                    <button type="submit" class="btn btn-link btn-sm px-3 text-warning"
                                        data-ripple-color="dark">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                </a>
                                <a href="delete/{{_id}}">
                                    <button type="submit" class="btn btn-link btn-sm px-3 text-danger"
                                        data-ripple-color="dark" onclick="return confirm('Are you sure')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </a>
                            </td>
                            {{/each}}

                    </tbody>
                </table>

            </div>
            <div class="col-md-1 py-3 py-md-0">
            </div>
        </div>
    </div>
</section>
<!-- Section Book End -->