<!-- Section Book Start -->
<section class="book" id="book">
    <div class="container">

        <div class="main-text">
            <h1 class="text-center m-5 font-monospace fw-bolder"><span class="text-warning">EDIT P</span>roduct</h1>
        </div>

        <div class="row">

            <div class="col-md-3 py-3 py-md-0">

            </div>

            <div class="col-md-6 py-3 py-md-0">
                <form action="/lbx/edit/{{ lbx._id }}" method="post">
                    <input type="text" class="form-control shadow bg-body rounded" placeholder="Product Name"
                        name="name" value="{{lbx.name}}" required maxlength="10"><br>
                    <input type="text" class="form-control shadow bg-body rounded" placeholder="Product Price"
                        name="price" value="{{lbx.price}}" required><br>
                    <input type="numer" class="form-control shadow bg-body rounded" name="quantity"
                        value="{{lbx.quantity}}"><br>
                    <input type="text" class="form-control shadow bg-body rounded" placeholder="Product Description"
                        name="description" value="{{lbx.description}}" required maxlength="10"><br>
                    <label class="text-danger fw-bold" for="">Can't change image</label>
                    <input type="file" class="form-control shadow bg-body rounded" disabled="disabled"><br>
                    <button type="submit" class="btn btn-warning fw-bolder text-light" required>Edit</button>

                </form>
            </div>

            <div class="col-md-3 py-3 py-md-0">

            </div>
        </div>
    </div>
</section>
<!-- Section Book End -->